.container {
  background-color: var(--off-white-hovered);
  color: var(--off-white);
}

.playerContainer {
  position: relative;
  /* For responsive aspect ratio according to react-player readme */
  padding-top: 56.25%;
}

.closePlayerButtonContainer {
  opacity: 0.2;
  margin: auto;
  width: 99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 16px;
  cursor: pointer;
  padding-bottom: 4px;
}
.closePlayerButtonBar {
  height: 1px;
  background-color: var(--dark-mode-light-black);
  width: 100%;
  margin-left: 6px;
}
.closePlayerButton {
  width: 22px;
  height: 22px;
  color: var(--dark-mode-light-black);
  margin-left: auto;
  cursor: pointer;
}
