.nameAndActivityContainer {
  margin-left: 12px;
  width: 60vw;
}

.nameContainer {
  padding-bottom: 2px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.text {
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.3em;
  letter-spacing: 1px;
  font-family: 'Cormorant SC';
}

.statusIndicatorContainer {
  position: absolute;
}

.markiesContainer {
  margin-top: 4px;
}

.markyContainer {
  height: 25px;
}

.avatarWrapper {
  border: 1px solid var(--off-white-hovered);
  border-radius: 50%;
}
