.connectButtonContainer {
  flex: 1;
  color: var(--off-white);
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 3px;
}

.chatContainer {
  border-radius: 5px;
  border-color: grey;
  display: flex;
  flex-direction: column;
  max-height: 200px;

  z-index: 200;
}

.messageArea {
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  flex: 1;

  scroll-snap-type-y: proximity;
}

.messageArea > div > div:last-child {
  scroll-snap-align: end;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputBox {
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  padding-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  flex: 1;
  font-family: inherit;
}

.iconContainer {
  margin-top: 4px;
  padding-right: 8px;
  padding-top: 4px;
}

.sendIcon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--coffee-blue);
  transition: opacity 0.15s ease;
}

.chatClientDropdown {
  margin-right: 8px;
  border: none;
  outline: none;
  background-color: var(--dark-mode-black);
  font-weight: bold;
  margin-top: 6px;
  padding: 3px;
  padding-right: 5px;
  transition: color 0.15 ease;
  border-radius: 2px;
  box-shadow: none;
}

.dropdownItem {
  outline: none;
}
