.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  pointer-events: auto;
  background-color: var(--off-white);
  box-sizing: border-box;
}

.header {
  flex-shrink: 0;
  width: 100vw;
  box-sizing: border-box;
}

.body {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 4px;
}

.inputContainer {
  width: 100vw;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background: linear-gradient(
    0deg,
    /* off-white */ rgba(241, 235, 232, 0.4) 0%,
    rgba(121, 58, 9, 0) 66%
  );
}

.searchInputStyle {
  -webkit-appearance: none;
  outline: none;
  border: none;

  font-size: 0.9em;

  overflow: hidden;

  width: 100%;
  padding-block: 6px;

  background-color: var(--off-white);
}
.searchInputStyle::placeholder {
  letter-spacing: 2px;
  font-size: 0.9em;
}

.searchResultsStyle {
  height: 100vh;
  overflow-y: scroll;
}

.userItemContainer {
  margin: 12px;
}
