.marky {
  z-index: 80;
  flex-direction: row;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: color 0.1s linear;
}

.activityText {
  font-size: 1.3em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 50;

  /* TODO: This makes some markytext cut off */
  width: 100%;
}

.fade {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  min-width: 16%;
  z-index: 80;

  pointer-events: none;
}

.fade:after {
  content: '\200b';
}

.closeText {
  font-weight: 700;
  font-size: 0.9em;
  color: var(--dark-mode-disabled-text);
}

.iconStyle {
  padding-right: 6px;
}

.closeIconStyle {
  float: right;
  width: 20px;
  height: 20px;
  padding-right: 0px;
  color: var(--dark-mode-disabled-text);
}

.highZIndex {
  z-index: 15;
}
