.marky {
  z-index: 80;
  flex-direction: row;
  display: flex;
  color: var(--dark-mode-black);
  align-items: center;
}

.activityText {
  font-size: 0.9em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 50;

  /* TODO: This makes some markytext cut off */
  width: 100%;
}

.closeText {
  font-weight: 700;
  font-size: 0.9em;
  color: var(--dark-mode-disabled-text);
}

.windowIconStyle {
  width: 19px !important;
  height: 19px !important;
  padding-right: 5px;
  padding-left: 1px;
}

.trackIconStyle {
  width: 17px !important;
  height: 17px !important;
  padding-right: 6px;
  padding-left: 1px;
}

.tabIconStyle {
  width: 21px !important;
  height: 21px !important;
  padding-right: 4px;
}

.yotubeIconStyle {
  width: 17px !important;
  height: 17px !important;
  padding-right: 7px;
  padding-left: 1px;
}

.closeIconStyle {
  float: right;
  width: 20px;
  height: 20px;
  padding-right: 0px;
  color: var(--dark-mode-disabled-text);
}

.highZIndex {
  z-index: 15;
}
