.container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  width: 110px;
  background-color: var(--dark-mode-black);
  color: var(--off-white);
  z-index: 55;
}

.menuButtonStyle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  z-index: 55;
}

.list {
  list-style-type: none;
  list-style: none;
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  padding-right: 15px;
  margin: 0px;
}

.listItem {
  font-size: 0.8em;
  letter-spacing: 1px;
}
