.container {
  background-color: var(--off-white);
  letter-spacing: 1px;
}

.menuAndContentContainer {
  display: flex;
  flex-direction: row;
}

.menu {
  flex-direction: column;
  width: 120px;
  background-color: var(--off-white-pressed);
}

.contentContainer {
  overflow-y: scroll !important;
  scroll-behavior: smooth;
  padding: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* scroll snap proximity isnt consistent enough,
  and mandatory makes it annoying to read setupcontent */
  /* scroll-snap-type: y mandatory; */
  /* scroll-snap-stop: always; */
  height: 400px;
  margin-bottom: 20px;
  margin-right: 1px;
}
.contentWrapper {
  /* scroll-padding: 80; */
  /* scroll-snap-align: start; */
  min-height: 510px;
}

.contentHeader {
  font-size: 1.1em;
  color: var(--dark-mode-light-black);
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Every settingscontent has this */
/* .settingsContentContainer {
} */

.profilePictureFormContainer {
  background-color: var(--off-white-pressed);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 8px;
  padding: 8px;
}

.profilePictureErrorContainer {
  padding-right: 8px;
  margin: 8px;
  width: 100%;
  height: 100%;
  margin-right: auto;
  align-self: center;
  color: var(--coffee-red);
  font-size: 0.9em;
}

.avatarContainer {
  margin-right: auto;
  align-self: center;
  height: 100%;
  padding: 6px;
  padding-left: 6px;
  border-radius: 50%;

  transition: background-color 0.15s ease;
}

.inputsContainer {
  flex-direction: row;
  padding-right: 8px;
  margin: 5px;
}

.connectSpotifyContainer {
  border-radius: 2px;
  padding: 6px;
  padding-right: 6px;
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
}
.connectSpotifyContainer:hover {
  border-color: var(--coffee-green);
  color: var(--coffee-green);
  cursor: pointer;
}

.genericInput {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  transition: background-color 0.15s ease;
  font-family: inherit;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
}
.genericInput::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.genericInput:hover,
.genericInput:focus {
  background-color: var(--off-white-pressed);
  color: var(--dark-mode-black);
}
.heightAnimationContainer {
  transition: all 0.3s ease-out;
  overflow: hidden;
  flex: 1;
  height: auto;
}
/* Set-up content */
.setupSettingsContainer {
  height: 590px;
  margin-bottom: 20px;
  margin-right: -20px;
}
.setupSettingsHeaderBrowserPicker {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 28px;
}
.setupSettingsHeaderBrowserName {
  padding-bottom: 3px;
  padding-right: 3px;
  font-size: 0.7em;
  color: var(--dark-mode-light-black);
}
.browserIcons {
  cursor: pointer;
  padding-inline: 4px;
}
ol {
  margin: 0;
  margin-left: 10px;
  padding: 0;
}
ol ul {
  padding: 0;
  padding-left: 20px;
}
ol ul li {
  padding-block: 2px;
  padding-bottom: 8px;
  color: var(--default-placeholder-text-color) !important;
}
li {
  padding-block: 6px;
}
li:marker {
  font-size: bold;
}

.setupInstructionsText {
  line-height: 1.4em;
  width: 90%;
  color: var(--darkmode-disabled-black);
  font-size: 0.8em;
}
.detectedTextContainer {
  z-index: 80;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.detectedText {
  cursor: pointer;
}
.detectedIcon {
  color: var(--default-placeholder-text-color);
  padding: 4px;
}
.toolTip {
  transition: all 0.15s ease;
  padding: 6px 10px !important;
}
mark {
  transition: background-color 0.15s ease;
  color: var(--default-placeholder-text-color);
  background-color: var(--off-white-hovered);
  border-radius: 5px;
  padding: 3px;
  padding-inline: 4px;
  font-size: 0.8em;
}
mark:hover {
  background-color: var(--off-white-hovered2);
}

.mockBrowserContainer {
  border: 8px solid var(--off-white-pressed);
  border-top-width: 12px;
  background-color: var(--off-white-pressed);
  display: flex;
  flex-direction: column;
  width: 80%;
}
.mockBrowserHeader {
  background-color: var(--off-white-pressed);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
  padding-top: 0px;
  height: 18px;
}
.mockBrowserMenu {
  color: var(--default-placeholder-text);
  padding-right: 4px;
  padding-bottom: 7px;
}
.mockBrowserAddressBar {
  font-size: 0.9em;
  width: 180px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 11px;
  padding: 3px;
  padding-bottom: 8px;
  border-radius: 3px;
  color: var(--default-placeholder-text);
  background-color: var(--off-white);
  height: 8px;
  outline: 1px solid var(--off-white-pressed);
}
.mockBrowserTrafficLights {
  /* flex: 1; */
  padding-bottom: 7px;
}
.mockBrowserWebcontents {
  border-top: 1px solid var(--dark-mode-light-black);
  width: 100%;
  height: 100%;
}
.extensionIDInputContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--off-white-pressed);
  width: 100%;
  align-items: center;
}
.extensionIDSaveButton {
  transition: opacity 0.15s ease;
  padding-right: 8px;
  padding-left: 6px;
}
