.slide-enter {
  transform: translateX(-100vw);
  opacity: 0;
  position: absolute;
}

/* Declare transition properties */

/* @keyframes example {
  0% {
    width: 0;
  }
  25% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
} */
