.container {
  font-size: 0.9em;
  background-color: var(--off-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchInputStyle {
  font-size: 0.9em;
  letter-spacing: 1px;

  transition: opacity 0.15s ease;
  width: 100%;

  margin: 15px;
  margin-left: 20px;
  margin-right: 16px;
  margin-bottom: 18px;
  flex: 3;
  box-sizing: border-box;
}

.searchInputStyle::placeholder {
  opacity: 0.7;
}
.searchInputStyle:hover::placeholder,
.searchInputStyle:focus::placeholder {
  opacity: 1;
}

.button {
  flex: 1;
  font-size: 0.9em;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  color: var(--dark-mode-black);
}

.findWhatever {
  display: grid;
  grid-template-columns: auto 1fr;
}
.whatever {
  min-width: 0;
  max-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.toolTip {
  transition: opacity 0.15s ease !important;
  padding: 6px 10px !important;
}
