.frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 18px;
}
.frame div {
  flex: 1;
}

.frameButtonsContainer {
  text-align: left;
}
.frameButtonsContainer,
.appTitleStyle {
  white-space: nowrap;
}

.frameButton {
  color: var(--default-placeholder-text-color);
  padding: 2px;
}

.appTitleStyle {
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
  font-family: 'Cormorant SC';
  color: var(--default-placeholder-text-color);
}

.windowTitleStyle {
  text-align: right;
  white-space: nowrap;
  letter-spacing: 1px;
  font-size: 0.6em;
  color: var(--dark-mode-light-black);
  padding: 2px;
}

.body {
  pointer-events: auto;
  flex-shrink: 0;
}
