.frame {
  flex-shrink: 0;
  display: flex;
  padding: 18px;
}

.frameButtonsContainer,
.appTitleStyle {
  white-space: nowrap;
  flex: 1;
}

.frameButton {
  color: var(--default-placeholder-text-color);
  padding: 2px;
}

.appTitleStyle {
  font-size: 0.7em;
  text-transform: uppercase;
  font-family: 'Cormorant SC';
  align-self: center;
  color: var(--default-placeholder-text-color);
}

.windowTitleStyle {
  white-space: nowrap;
  letter-spacing: 1px;
  font-size: 0.6em;
  color: var(--dark-mode-light-black);
  padding: 2px;
}

.body {
  pointer-events: auto;
  flex-shrink: 0;
}
